{% extends "base.html" %}
{% block title %}Comment on Tweet{% endblock title %}
{% block content %}
    <h1>Comment on Tweet</h1>
    <div class="form-container">
        <form id="comment-form">
            <div class="form-group">
                <label for="comment_content">Comment</label>
                <textarea class="form-control" id="comment_content" name="content" rows="2"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
    </div>
{% endblock %}
