{% extends "base.html" %}
{% block title %}Edit Tweet{% endblock title %}
{% block content %}
    <h1>Edit Tweet</h1>
    <div class="form-container">
        <form id="edit-tweet-form">
            <div class="form-group">
                <label for="tweet_content">Tweet Content</label>
                <textarea class="form-control" id="tweet_content" name="content" rows="3">{{ tweet_content }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
{% endblock %}
